html {
  height: 100%;
  width: 100%;
}
body {
   
}
input {
  margin-right: 15px;
}
#time-left {
  font-size: 5em;
}

.scoreboard {
  padding-left: 0px
}

.game-board {
  height: 500px;
  width: 500px;
  border: 2px solid #cce8b5;
  margin: auto;
  flex-direction: column;
}

.userInput {
  width: 10%;
}

#operator {
  text-align: center;
  font-size: 1em;
}
