html {
  height: 100%;
  width: 100%;
}

.game-board {
  text-align: center;
  border: 2px solid black;
  margin-left: 10em;
  margin-right: 10em;
  font-size: 1em;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 2em;
}
#timer {
  font-size: 5em;
  color: red;
  text-align: center;
  margin-top: 50px;
}

.scoreboard {
  color: blue;
}
